/* Gestion du Loader */
.body-index {
  opacity: 0;
  -webkit-animation: apparition 1s linear forwards;
  animation: apparition 1s linear forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  background-color: #ececec;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: disparition 1s linear forwards;
  animation: disparition 1s linear forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loader__text {
  margin-bottom: 20px;
  font-size: 40px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(70%), to(#f3e9f1));
  background-image: linear-gradient(to top left, #9356dc, 70%, #f3e9f1);
  -ms-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: none;
}

.loader__spin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader__spin:before, .loader__spin:after,
.loader__spin span:before,
.loader__spin span:after {
  content: "";
  border-radius: 5px;
  display: block;
  position: relative;
  width: 10px;
  height: 20px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(70%), to(#f3e9f1));
  background-image: linear-gradient(to top left, #9356dc, 70%, #f3e9f1);
  color: transparent;
  text-shadow: none;
  -webkit-animation: grow 2s ease-out infinite;
  animation: grow 2s ease-out infinite;
  margin: 2px;
}

.loader__spin span:after {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader__spin:after {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.loader__spin span:before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

/* Navigation */
.navbar-nav {
  height: 40px;
}

.bg-light {
  background-color: #f3e9f1 !important;
}

.btn-primary {
  background-color: #9356dc;
  border-color: #9356dc;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #6f42a7;
  border-color: #6f42a7;
}

.card {
  background-color: #ececec;
}

form {
  margin-bottom: 1em;
}

.formulaireProduit {
  margin-left: 0.7em;
}

#quantiteProduit {
  width: 50px;
}

#btnRecycle {
  background-color: #99e2d0;
  width: 200px;
  color: #353535;
}

#btnRecycle:hover {
  background-color: #71baa8;
  color: #ffff;
}

#btnRecycle > i {
  margin-right: 1em;
}

.imagePanier {
  max-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.nomMeuble {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantite {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantityPanier {
  color: #9356dc;
}

.quantityPanier:hover,
.quantityPanier:focus {
  color: #6f42a7;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=style.css.map */